@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient-white: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradient-red: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  background-color: hsl(0, 100%, 98%);
  min-height: 100vh;
}

.left-container {
  min-height: 100vh;
  width: 100%;
}

.logo-container {
  padding: 2rem;
}

.logo {
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 25px;
}

.image {
  content: url('./images/hero-mobile.jpg');
  display: block;
  width: 100%;
}

.info {
  padding: 4rem 2rem 2rem 2rem;
  text-align: center;
}

.ad-text {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 300;
  color: var(--desaturated-red);
  line-height: 1.1;
  margin-bottom: 1rem;
}

.coming-soon {
  color: var(--dark-grayish-red);
  font-weight: 600;
  display: block;
}

.info-text {
  color: var(--desaturated-red);
  line-height: 1.6;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

form {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

input[type='email'] {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.9rem;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--desaturated-red);
  background-color: transparent;
  padding: 0 6rem 0 1.5rem;
  color: var(--dark-grayish-red);
}

input[type='email']::placeholder {
  color: var(--desaturated-red);
}

input[type='email']:focus {
  outline: none;
  border: 2px solid var(--dark-grayish-red);
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  background: var(--gradient-red);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 10px 20px hsla(0, 36%, 70%, 0.5);
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, hsl(0, 100%, 93%), hsl(0, 89%, 81%));
}

.error-msg {
  display: none;
  color: var(--soft-red);
  font-size: 0.8rem;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 8px;
}

form.error input[type='email'] {
  border: 2px solid var(--soft-red);
}

form.error .error-msg {
  display: block;
}

@media (min-width: 900px) {
  body {
    background-image: var(--gradient-white);
  }

  .left-container {
    display: grid;
    grid-template-columns: 58fr 42fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'logo   image'
      'info   image';
    width: 100%;
  }

  .logo-container {
    grid-area: logo;
  }

  .info {
    grid-area: info;
  }

  .right-container {
    grid-area: image;
  }

  .logo-container,
  .info {
    background-image: url('./images/bg-pattern-desktop.svg');
    background-size: cover;
    background-position: center center;
    padding: 0;
  }

  .logo-container {
    padding: 4rem 10% 0 10%;
  }

  .logo {
    width: 160px;
    height: 35px;
  }

  .info {
    padding: 2rem 15% 2rem 10%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ad-text {
    font-size: 4rem;
    letter-spacing: 1rem;
    margin-bottom: 2rem;
  }

  .info-text {
    font-size: 1rem;
    max-width: 450px;
    margin-bottom: 2.5rem;
  }

  form {
    max-width: 450px;
    margin: 0;
  }

  .arrow {
    width: 100px;
  }

  form.error::after {
    right: 120px;
  }

  .error-msg {
    margin-left: 2rem;
  }

  .right-container {
    height: 100vh;
  }

  .image {
    content: url('./images/hero-desktop.jpg');
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
